# URL de conexión a MongoDB Atlas
# Reemplazar <db_username>, <db_password> y <cluster> por sus valores reales
# Ejemplo: mongodb+srv://coder:coder123@cluster0.miur3.mongodb.net/backend3?retryWrites=true&w=majority&appName=Cluster0

MONGO_URL=mongodb+srv://<usuario>:<contraseña>@<host>/<nombre_base>?retryWrites=true&w=majority&appName=<appName>
PORT=3000
